<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="cn.gov.gsport.system.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.gov.gsport.system.entity.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="office" property="office.id" jdbcType="BIGINT" />
        <result column="office_ids" property="officeIds" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="photo" property="photo" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />

        <association column="office" property="office" select="cn.gov.gsport.system.mapper.OfficeMapper.selectById"
                     javaType="cn.gov.gsport.system.entity.Office" >
        </association>
    </resultMap>


    <insert id="insert" parameterType="cn.gov.gsport.system.entity.User" >
        insert into sys_user (id, name, office, office_ids, username,
            password, mobile, telephone,
            email, birthday, sex,
            photo, status, del_flag,
            create_date, create_by, remarks)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{office.id,jdbcType=BIGINT}, #{officeIds,jdbcType=VARCHAR}, #{username,jdbcType=TIMESTAMP},
            #{password,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
            #{photo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{remarks,jdbcType=VARCHAR})
    </insert>

    <!--根据ID更新-->
    <update id="updateById" parameterType="cn.gov.gsport.system.entity.User" >
        update sys_user
        set
            name = #{name,jdbcType=VARCHAR},
            office = #{office.id,jdbcType=BIGINT},
            office_ids = #{officeIds,jdbcType=VARCHAR},
            username = #{username,jdbcType=TIMESTAMP},
            password = #{password,jdbcType=VARCHAR},
            mobile = #{mobile,jdbcType=VARCHAR},
            telephone = #{telephone,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            birthday = #{birthday,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=VARCHAR},
            photo = #{photo,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            del_flag = #{delFlag,jdbcType=VARCHAR},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            create_by = #{createBy,jdbcType=BIGINT},
            remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <!--根据主键ID选择-->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>


    <!--根据用户名username选择-->
    <select id="findByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>


    <select id="findAll" resultType="cn.gov.gsport.system.entity.User">
        SELECT * FROM sys_user WHERE del_flag = 0
    </select>

    <!--分页查询默认使用接口，条件查询语句-->
    <select id="findList" resultMap="BaseResultMap">
        SELECT *
        FROM sys_user opt
        <where>
            and opt.del_flag = #{DELFLAG_NORMAL}
        </where>
    </select>


    <!--根据主键ID逻辑删除-->
    <update id="deleteLogic">
        UPDATE sys_user SET del_flag = 1 WHERE id = #{id}
    </update>


    <!--根据主键ID更改status字段状态-->
    <update id="changeStatus">
        UPDATE sys_user SET status = #{status} WHERE id = #{id}
    </update>


    <!--根据用户主键ID删除中间表用户-角色所有信息-->
    <delete id="clearUserRole">
        DELETE FROM sys_user_role WHERE user_id = #{id}
    </delete>


    <!--批量插入中间表用户-角色-->
    <insert id="insertUserRole">
        insert into sys_user_role values
        <foreach collection='roleIds' item='item' index='index' separator=','>
        (#{id}, #{item})
        </foreach>
    </insert>

</mapper>