<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="incloude/common::common_header(~{::meta},~{::link})"></head>
<head>
    <title>地区管理</title>
</head>

<body>

<div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">
                                    <a th:href="${adminPath} + '/area/list'">地区列表</a>
                                </li>
                                <li>
                                    <a th:href="${adminPath} + '/area/form'">地区添加</a>
                                </li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <!--内容-->
                                    <div class="layui-card-body">
                                        <form class="layui-form">
                                            <div class="table-reload-btn" style="margin-bottom: 10px;">
                                                <div class="layui-form-item">
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label">地区选择：</label>
                                                        <div class="layui-input-inline">
                                                            <select class="area-select" lay-filter="selected">
                                                                <option value="">请选择</option>
                                                            </select>
                                                        </div>
                                                        <div class="layui-input-inline">
                                                            <select class="area-select" lay-filter="selected">
                                                                <option value="">请选择</option>
                                                            </select>
                                                        </div>
                                                        <div class="layui-input-inline">
                                                            <select class="area-select">
                                                                <option value="">请选择</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <button type="button" class="layui-btn" data-type="reload"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <table class="layui-hide" id="table" lay-filter="table"></table>

                                        <script type="text/html" id="table-operate-bar">
                                            <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                                        </script>

                                        <script type="text/html" id="levelTypeTpl">
                                            {{# if(d.levelType ==0){ }}
                                                <label>国家</label>
                                            {{# }else if(d.levelType ==1){  }}
                                                <label>省份</label>
                                            {{# }else if(d.levelType ==2){  }}
                                                <label>地级市</label>
                                            {{# }else if(d.levelType ==3){  }}
                                                <label>区/县</label>
                                            {{# } }}
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="incloude/common::common_js"></div>
<div th:replace="incloude/common::layui_config"></div>
<script type="text/javascript" th:inline="none">
    layui.use(['jquery', 'layer', 'table', 'form'], function(){
        let $ = layui.$;
        const table = layui.table,
              form = layui.form,
              layer = layui.layer;
        const Area = { TableId:"table" };


        //三级联动下拉框
        Area.GetAreaList = function(pid, target_level){
            $.get(adminPath + "/area/getListByPid", { pid:pid }, function(res){
                if (res.code === 0){
                    var item = '<option value="">请选择</option>';
                    for (let i = 0; i < res.data.length; i++) {
                        item += '<option value="' + res.data[i].id + '">' + res.data[i].name + '</option>';
                    }
                    $('.area-select:eq('+ target_level +')').empty().append(item);
                    form.render();
                }else {
                    layer.msg("获取数据失败！", {icon: 5});
                }
            });
        };

        //监听select选择事件，根据上级id,选择下级，并重置下级并添加新选项
        form.on('select(selected)', function(data){
            var index = $(data.elem).index('.area-select');
            Area.GetAreaList(data.value, index + 1);
        });
        //初始化获得省级列表
        Area.GetAreaList(100000, 0);

        //删除方法
        Area.Delete = function(data){
            layer.confirm('确定删除数据吗？', function(index){
                $.ajax({
                    url: adminPath + "/area/delete",
                    data: { "id": data.id },
                    success: function(res){
                        if(res.code === 0){
                            table.reload(Area.TableId);
                        }else{ layer.msg('删除失败'); }
                    }
                });
                layer.close(index);
            });
        };

        //重载表格
        Area.Search = function (){
            var queryData = {};
            queryData['pid'] = null;
            var items = $('.area-select');
            for (let i = 0; i < items.length; i++) {
                if (!isBlank(items[i].value)){
                    queryData['pid'] = items[i].value;
                }
            }
            table.reload(Area.TableId, {page: { curr: 1 },where: queryData});
        };

        //初始化表格列
        Area.InitColumn = function(){
            return [[
                {field:'id', title: 'id'},
                {field:'name', title: '地区名'},
                {field:'levelType', title: '等级', templet: '#levelTypeTpl'},
                {field:'shortName', title: '简称'},
                {field:'lng', title: '经度'},
                {field:'lat', title: '维度'},
                {align:'center', title: '操作', fixed: 'right', width:'20%' , toolbar: '#table-operate-bar'}
            ]];
        };

        table.render({
            elem: '#' + Area.TableId,
            url: adminPath + '/area/findByPage',
            cols: Area.InitColumn(),
            cellMinWidth: 100,
            request: {
                pageName: 'pageNo',
                limitName: 'pageSize'
            },
            page: true
        });

        $ = layui.$;
        var active = {
            reload: function () {
                Area.Search();
            }
        };

        //监听行工具事件
        table.on('tool('+Area.TableId+')', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                Area.Delete(data);
            } else if(obj.event === 'edit'){
                window.location.href= adminPath + '/area/form?id='+data.id;
            }
        });

        $('.table-reload-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

</body>

</html>