<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="incloude/common::common_header(~{::meta},~{::link})"></head>
<head>
    <title>字典列表</title>
</head>

<body>

<div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">
                                    <a th:href="${adminPath} + '/dict/list'">字典列表</a>
                                </li>
                                <li>
                                    <a th:href="${adminPath} + '/dict/form'">字典添加</a>
                                </li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <!--内容-->
                                    <div class="layui-card-body">
                                        <form class="layui-form">
                                            <div class="table-reload-btn" style="margin-bottom: 10px;">
                                                <div class="layui-form-item">
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label">类型：</label>
                                                        <div class="layui-input-inline">
                                                            <select class="type-select" id="type" >
                                                                <option value="">请选择</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label">描述：</label>
                                                        <div class="layui-input-inline">
                                                            <input type="text" id="description" class="layui-input" autocomplete="off">
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <button type="button" class="layui-btn" data-type="reload"><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i></button>
                                                        <button type="button" class="layui-btn" data-type="reset">重置</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <table class="layui-hide" id="table" lay-filter="table"></table>

                                        <script type="text/html" id="table-operate-bar">
                                            <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                                            <a class="layui-btn layui-btn-xs" lay-event="add"><i class="layui-icon layui-icon-note"></i>添加键值</a>
                                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                                        </script>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="incloude/common::common_js"></div>
<div th:replace="incloude/common::layui_config"></div>
<script type="text/javascript" th:inline="none">
    layui.use(['layer','table','form'], function(){
        var $ = layui.$;
        const table = layui.table;
        const layer = layui.layer;
        const form = layui.form;
        const Dict = { TableId:"table" };


        $.get(adminPath + "/dict/getDictTypeList", function(res){
            if (res.code === 0){
                var item = '';
                for (let i = 0; i < res.data.length; i++) {
                    item += '<option value="' + res.data[i] + '">' + res.data[i] + '</option>';
                }
                $('.type-select').append(item);
                form.render();
            }else {
                layer.msg("获取数据失败！", {icon: 5});
            }
        });


        //删除方法
        Dict.Delete = function(data){
            layer.confirm('确定删除数据吗？', function(index){
                $.ajax({
                    url: adminPath + "/dict/delete",
                    data: { "id": data.id },
                    success: function(res){
                        if(res.code === 0){
                            table.reload(Dict.TableId);
                        }else{ layer.msg('删除失败'); }
                    }
                });
                layer.close(index);
            });
        };

        //重载表格
        Dict.Search = function (){
            var queryData = {};
            queryData['type'] = $("#type").val();
            queryData['description'] = $("#description").val();
            table.reload(Dict.TableId, {page: { curr: 1 },where: queryData});
        };

        //初始化表格列
        Dict.InitColumn = function(){
            return [[
                {type: 'numbers', title: '序号'}
                ,{field:'type', title: '类型'}
                ,{field:'label', title: '标签名' }
                ,{field:'value', title: '数据值' }
                ,{field:'description', title: '描述' }
                ,{field:'sort', title: '排序' }
                ,{align:'center', title: '操作', fixed: 'right', width:'20%' , toolbar: '#table-operate-bar'}
            ]];
        };

        table.render({
            elem: '#' + Dict.TableId,
            url: adminPath + '/dict/findByPage',
            cols: Dict.InitColumn(),
            cellMinWidth: 100,
            request: {
                pageName: 'pageNo',
                limitName: 'pageSize'
            },
            page: true
        });

        var active = {
            reload: function(){
                Dict.Search();
            },
            reset: function(){
                $('#type').val('');
                $('#description').val('');
                Dict.Search();
            }
        };

        //监听行工具事件
        table.on('tool('+Dict.TableId+')', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                Dict.Delete(data);
            } else if(obj.event === 'edit'){
                window.location.href= adminPath + '/dict/form?id='+data.id;
            } else if(obj.event === 'add'){
                window.location.href= adminPath + '/dict/form?type='+data.type;
            }
        });

        $('.table-reload-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

</body>

</html>