<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="incloude/common::common_header(~{::meta},~{::link})"></head>
<head>
  <title>修改密码</title>
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">修改密码</div>
          <div class="layui-card-body" pad15>

            <form class="port-form" th:action="${adminPath} + '/user/modifyPwd'">
              <div class="layui-form" lay-filter="">
                <div class="layui-form-item">
                  <label class="layui-form-label">当前密码</label>
                  <div class="layui-input-inline">
                    <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">新密码</label>
                  <div class="layui-input-inline">
                    <input type="password" name="newPassword" lay-verify="pass|required" lay-verType="tips" autocomplete="off" id="newPassword" class="layui-input">
                  </div>
                  <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">确认新密码</label>
                  <div class="layui-input-inline">
                    <input type="password" name="repassword" lay-verify="repass|required" lay-verType="tips" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="port-form-submit">确认修改</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="incloude/common::common_js"></div>
  <div th:replace="incloude/common::layui_config"></div>

  <script>
      layui.use(['layer','form'], function(){
        const layer = layui.layer;
        const form = layui.form;

          //表单验证
          form.verify({
              pass: [/(.+){6,12}$/, '密码必须6到12位'],
              repass: function (value) {
                  if (value != $('#newPassword').val()){
                      return '两次输入密码不一致';
                  }
              }
          });
          //监听提交
          form.on('submit(port-form-submit)', function(data){
              layer.confirm('确认进行密码修改？', function(index){
                  layer.close(index);
                  $('.port-form').submit()
              });
              return false;
          });

      });

  </script>

</body>
</html>