<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="incloude/common::common_header(~{::meta},~{::link})"></head>
<head>
	<title>路的尽头在哪</title>
	<style>
		.layui-nav-child{padding: 0 !important}
	</style>
</head>
<body class="layui-layout-body">

	<div id="LAY_app">
		<div class="layui-layout layui-layout-admin">
			<!-- 头部区域 -->
			<div class="layui-header">
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item layadmin-flexible" lay-unselect>
						<a href="javascript:void(0);" layadmin-event="flexible" title="侧边伸缩">
							<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="/index" target="_blank" title="客户界面">
							<i class="layui-icon layui-icon-website"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:void(0);" layadmin-event="refresh" title="刷新">
							<i class="layui-icon layui-icon-refresh-3"></i>
						</a>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right"
					lay-filter="layadmin-layout-right">

					<li class="layui-nav-item" lay-unselect>
						<a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
							<i class="layui-icon layui-icon-notice"></i>
							<!-- 如果有新消息，则显示小圆点 --> <span class="layui-badge-dot"></span>
						</a>
					</li>

					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:void(0);" layadmin-event="fullscreen">
							<i class="layui-icon layui-icon-screen-full"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:void(0);">
							<cite th:text="${user.name}"></cite>
						</a>
						<dl class="layui-nav-child">
							<dd class="port-center">
								<a th:lay-href="${adminPath} + '/user/userInfo'">基本资料</a>
							</dd>
							<dd class="port-center">
								<a th:lay-href="${adminPath} + '/user/modifyPwdPage'">修改密码</a>
							</dd>
							<hr style="margin: 0"/>
							<dd class="port-center">
								<a href="/logout">退出</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:void(0);" layadmin-event="theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
					</li>
				</ul>
			</div>

			<!-- 侧边菜单 -->
			<div class="layui-side layui-side-menu">
				<div class="layui-side-scroll">
					<div class="layui-logo read-only">
						<span>路的尽头在哪</span>
					</div>

					<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
						<!--第一级菜单-->
						<li th:each="menu:${menus}" class="layui-nav-item port-menu-item" th:data-id="${menu.id}" th:if="${menu.pid == -1 && menu.isShow}">
							<a th:lay-href="${adminPath} + ${menu.href}" th:text="${menu.name}" th:if="${!#strings.isEmpty(menu.href)}"></a>

							<a href="javascript:void(0);"  th:lay-tips="${menu.name}"  lay-direction="2" th:if="${#strings.isEmpty(menu.href)}">
								<i class="layui-icon " th:classappend="${menu.icon}"></i>
								<cite th:text="${menu.name}"></cite>
							</a>
							<!--第二级菜单-->
							<dl class="layui-nav-child" th:each="menu2:${menus}" th:if="${#strings.isEmpty(menu.href)}">
								<dd th:data-id="${menu2.id}" th:if="${menu2.pid == menu.id && menu2.isShow}">
									<i class="layui-icon" th:classappend="${menu2.icon}"></i>
									<a th:lay-href="${adminPath} + ${menu2.href}" th:text="${menu2.name}" th:if="${!#strings.isEmpty(menu2.href)}"></a>

									<a href="javascript:void(0);" th:text="${menu2.name}" th:if="${#strings.isEmpty(menu2.href)}"></a>
									<dl class="layui-nav-child"  th:if="${#strings.isEmpty(menu2.href)}">
										<!--第三级菜单-->
										<dd th:each="menu3:${menus}" th:if="${menu3.pid == menu2.id && menu3.isShow}">
											<i class="layui-icon" th:classappend="${menu3.icon}"></i>
											<a th:lay-href="${adminPath} + ${menu3.href}" th:text="${menu3.name}"></a>
										</dd>
									</dl>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>

			<!-- 页面标签 -->
			<div class="layadmin-pagetabs" id="LAY_app_tabs">
				<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
				<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
				<div class="layui-icon layadmin-tabs-control layui-icon-down">
					<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:void(0);"></a>
							<dl class="layui-nav-child layui-anim-fadein">
								<dd layadmin-event="closeThisTabs">
									<a href="javascript:void(0);">关闭当前标签页</a>
								</dd>
								<dd layadmin-event="closeOtherTabs">
									<a href="javascript:void(0);">关闭其它标签页</a>
								</dd>
								<dd layadmin-event="closeAllTabs">
									<a href="javascript:void(0);">关闭全部标签页</a>
								</dd>
							</dl></li>
					</ul>
				</div>
				<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
					<ul class="layui-tab-title" id="LAY_app_tabsheader">
						<li lay-id="console" lay-attr="console" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
					</ul>
				</div>
			</div>


			<!-- 主体内容 -->
			<div class="layui-body" id="LAY_app_body">
				<div class="layadmin-tabsbody-item layui-show">
					<iframe th:src="${adminPath} + ${console}" frameborder="0" class="layadmin-iframe"></iframe>
				</div>
			</div>

			<!-- 辅助元素，一般用于移动设备下遮罩 -->
			<div class="layadmin-body-shade" layadmin-event="shade"></div>
		</div>
	</div>

<div th:replace="incloude/common::common_js"></div>
<div th:replace="incloude/common::layui_config"></div>



<!--<script th:inline="javascript">
  	// 默认打开第一个菜单
    $(".port-menu-item:eq(0)").addClass('layui-nav-itemed');
</script>-->
</body>
</html>