<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="incloude/common::common_header(~{::meta},~{::link})"></head>
<head>
    <title>填写邮件发送地址</title>
</head>
<body>

<div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">

                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <input id="id" th:value="${id}" type="hidden" >
                                    <div>
                                        <textarea id="address" placeholder="请输入邮箱地址，多个用分号（;）分隔" class="layui-textarea"></textarea>
                                    </div>

                                    <div class="layui-form-item layui-layout-admin">
                                        <div class="layui-input-block">
                                            <div class="layui-footer" style="left: 0;">
                                                <button class="layui-btn" data-type="submit">确定</button>
                                                <button class="layui-btn layui-btn-primary" data-type="close">关闭</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="incloude/common::common_js"></div>
<div th:replace="incloude/common::layui_config"></div>
<script th:inline="javascript">
    layui.use(['layer'], function(){
        const layer = layui.layer
        ,index = parent.layer.getFrameIndex(window.name); //获取窗口索引

        const $ = layui.$, active = {
            submit: function(){
                const address = $('#address').val();
                if (!isBlank(address)){
                    var addressList = address.split(';');
                    for (let i = 0; i < addressList.length; i++) {
                        addressList[i] = addressList[i].trim();
                        if (isBlank(addressList[i]) || !reg_email.test(addressList[i])){
                            //如果元素为空，或者不是邮箱格式
                            //删除从索引i开始1个元素
                            addressList.splice(i, 1);
                            i--;
                        }
                    }
                    if (addressList.length > 0){
                        //最后整理完的邮箱地址可用
                        $.ajax({
                            url: adminPath + "/notice/mailTemplate/mailTemplateSend",
                            async: false,
                            traditional: true,
                            data: { "id": $('#id').val(), "address": addressList },
                            success: function(res){
                                if(res.code === 0){
                                    parent.layer.msg('发送成功');
                                    parent.layer.close(index);
                                }else{
                                    layer.msg('发送失败,请联系管理员', {icon: 5,time:1500});
                                }
                            }
                        });
                    }else {
                        layer.msg('输入有误，请检查后重新输入', {icon: 5,time:1500});
                    }
                }else{
                    layer.msg('请输入发送地址', {icon: 5,time:1500});
                }
            },
            close:function () {
                parent.layer.close(index);
            }
        };

        $('.layui-btn').on('click', function(){
            var othis = $(this),type = othis.data('type');
            active[type] && active[type].call(this);
        });
    });

</script>

</body>
</html>